form{
  width: 500px;
  display: flex;
  flex-direction: column;
}
label{
  margin: 20px 0 0 0;
}
.serverError{
  color: red;
}
input.ng-touched.ng-invalid{
  border-color: red;
}
textarea.ng-invalid.ng-touched{
  border-color: red;
}
