<a routerLink="/home">Домой</a>

<form [formGroup]="serverForm" (ngSubmit)="onSubmit()">
  <label>Метод</label>
  <input type="text" formControlName="serverMethod" (blur)="onInputBlur($event)">
  <div *ngIf="isFieldValid('serverMethod')" class="serverError">
    Допустимы только латинские символы
  </div>
  <label>Способ отправки</label>
  <select formControlName="sendMethod" (blur)="onInputBlur($event)">
    <option>POST</option>
    <option>GET</option>
  </select>
  <label>Данные в формате JSON</label>
  <textarea type="text" formControlName="data" rows="15" (blur)="onInputBlur($event)"></textarea>
  <div *ngIf="isFieldValid('data')" class="serverError">
    Данные должны быть в формате JSON: &#123; "foo" : "bar" } <br>
    Вложенность не разрешена.
  </div>
  <button type="submit">Отправить</button>
  <div *ngIf="isNested" class="serverError">Обнаружена вложенность</div>
</form>
<div *ngIf="isRequestError" class="serverError">Запрос вернулся с ошибкой</div>
<div *ngIf="body">
  <p>Время ответа: {{responseTime}}ms </p>
  <p>Код ответа: {{response.status}}</p>
  <p>Заголовки ответа: </p>
  <pre *ngFor="let item of headers">{{item}}</pre>
  <p>Текст ответа: </p>
  <pre [innerHTML]="json"></pre>
</div>


